body {
  background-color: lightblue; 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

/* draft css to test to make moles in holes using :after for responsive square divs*/

.game-container {
    display:flex;
    background-color: yellow;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hole {
    position: relative;
    width: 30%;
    overflow: hidden; /*hides moles*/
  }
  
  /* To make this div a perfect responsive square the :after pseudo-element was used.  
  By adding an empty :after element to .square and set padding-bottom: 100%:*/
  .hole:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background: url("../images/hole-image.jpg") center no-repeat;
  }
  
  .mole {
    position: absolute; /* Use absolute so its content will not affect the dimensions of the hole square*/
    width: 50%;
    height: 50%;
    background-color: green;
    /*Because position:absolute was used, then to center this pos left and neg margin left was used*/
    left: 50%;
    margin-left: -25%;
    bottom: 0;
    transition: 2s;
    top: 100%;
    /*to move the mole div under the hole div and this will be reset with js to have the mole peek up*/

  }

.hole.up .mole {
top: 0;

}