body {
  background-color: lightblue;  
}

/*basic css to test to make moles in holes using :after for responsive square divs*/

.hole {
    position: relative;
    width: 50%;
    
  }
  
  .hole:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-color: red;
  }
  
  .mole {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: green;
  }



